<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flor De Maria Marshall website</title>
    <script src="https://use.fontawesome.com/fbc3bff0bc.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet" />
    <link href="../public/stylesheets/style.css" rel="stylesheet" />
    <link rel="icon" href="../public/images/icons8-geometric-flowers-64.png" sizes="32x32">
</head>

<body>
    <section id="hero">
        <article id="typewriter" class="container">
            <h2 class="cursor header_one">
            </h2>
            <h2 class="header_two"></h2>
        </article>
        <article id="scroll_section" class="demo">
            <a class="scroll_link" data-target="scroll" href="#middle">
                <span class="scroll_indicator"></span>
                <p class="scroll_text">Scroll</p>
            </a>
        </article>
    </section>
    <section id="middle">
        <article class="about_me container">
            <h2 class="title" style="background-position-y: -516px;">About Me</h2>
            <div class="content">
                <div id="portrait">
                    <div class="portrait_container"><img src="../public/images/FLOR-HI-RES-CARTOON_white_bg.jpg"></div>
                </div>
                <div class="text_section">
                    <p>I am a front-end software developer based in Washington D.C. My interest in
                        programming
                        started
                        when I was an undergrad studying Linguistics at the University of California, Berkeley. Upon
                        Graduation I
                        purused software development
                        by learning html, css, and JavaScript.<br><br> In my current role I leverage my knowledge by
                        helping clients
                        curate
                        unqiue and on brand campaign webpages. The main languages and frameworks I use are JavaScript,
                        Vue.js,
                        Node.js,
                        Express.js, SQL, and MySQL.
                    </p>
                </div>
            </div>
        </article>
    </section>
    <section>
        <article class="portfolio">
            <h2 class="title" style="background-position-y: -609px;">Portfolio</h2>
            <div class="cards-wrapper">
                <div class="card-grid-space" style="background-image: url('../public/images/Caterpillar_CAC.png')">
                    <a class="card" href="https://actnow.io/CATGOTV">
                        <div>
                            <h1></h1>
                            <p></p>
                            <div class="tags">
                                <div class="tag">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card-grid-space" style="background-image: url('../public/images/Common_Spirit_CAC.png'); ">
                    <a class="card" href="https://p2a.co/eSj7X6k">
                        <div>
                            <h1></h1>
                            <p></p>
                            <div class="tags">
                                <div class="tag">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card-grid-space"
                    style="background-image: url('../public/images/Big_Cat_Rescue_Campaign.png');">
                    <a class="card" href="https://p2a.co/fOtTe1v" target="_blank">
                        <div>
                            <h1></h1>
                            <p></p>
                            <div class="tags">
                                <div class="tag">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card-grid-space"
                    style="background-image: url('../public/images/AHA_Virtual_Lobby_Day.png'); ">
                    <a class=" card" href="https://action.yourethecure.org/" target="_blank">
                        <div>
                            <h1></h1>
                            <p></p>
                            <div class="tags">
                                <div class="tag">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card-grid-space"
                    style="background-image: url('../public/images/Providence_health_AC.png');">
                    <a class="card" href="https://p2a.co/OexfhjI" target="_blank">
                        <div>
                            <h1></h1>
                            <p></p>
                            <div class="tags">
                                <div class="tag">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card-grid-space" style="background-image: url('../public/images/Insulet_Widget.png');">
                    <a class="card" href="https://advocacyforaccess.com/" target="_blank">
                        <div>
                            <h1></h1>
                            <p></p>
                            <div class="tags">
                                <div class="tag">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </article>
    </section>
    <section>
        <article class="contact_me">
            <h2 class="title" style="background-position-y: -597px;">Contact Me</h2>
            <div class="button-tooltip-container"><span id="custom-tooltip">copied!</sapn>
            </div>
            <div class="icon_column">
                <a onclick="copyURI(event)" class="learn-more" id="flor-email" href="flordmarshall@gmail.com">email me
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="44"
                        height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <rect x="3" y="5" width="18" height="14" rx="2" />
                        <polyline points="3 7 12 13 21 7" />
                    </svg></a>
                <a class="learn-more" href="https://github.com/fdmmarshall" target="_blank">Github - fdmmarshall <svg
                        xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="44"
                        height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
                    </svg></a>
                <a class="learn-more" href="https://www.linkedin.com/in/fdmmarshall/" target="_blank">LinkedIn
                    Profile<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin"
                        width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <rect x="4" y="4" width="16" height="16" rx="2" />
                        <line x1="8" y1="11" x2="8" y2="16" />
                        <line x1="8" y1="8" x2="8" y2="8.01" />
                        <line x1="12" y1="16" x2="12" y2="11" />
                        <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                    </svg></a>
            </div>
        </article>
    </section>
    <footer>
        <div class="footer_text">Made with <svg class="footer-icons" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="#ffffff">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
            </svg> and <svg class="footer-icons" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="#ffffff">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>.</div>
    </footer>
    <script src="../public/javascripts/main.js"></script>
</body>

</html>